*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

/* Общие классы для body */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin-block: auto;
  margin-inline: auto;
  color: #fff;
  font-family: "Fira Sans Condensed","Trebuchet MS", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* Сбрасываем изначальыне стили */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border-block: none;
  border-inline: none;
}

/* Стили для визуального скрытия элемента */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Стили для main*/
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: end;
}

/* Стили для контейнера с видео */
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

/* Стили для видео */
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* Стили для формы поиска видео */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

/* Общие стили для форм */
.search-form__label {
  display: flex;
  inline-size: fit-content;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

/* Общие стили для заголовков полей ввода в форме поиска видео*/
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed","Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  padding-block-end: 5px;
}

/* Стили для поля выбора города */
.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border-block: none;
  border-inline: none;
  font-family: "Fira Sans Condensed","Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  border-inline-start: 1px solid transparent;
  border-inline-end: 1px solid transparent;
  background-color: transparent;
  appearance: none;
  padding-inline-start: 0;
}

/* Стили для подсказки в поле выбора города */
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Стили для активного состояния поля выбора города */
.search-form__textfield:active {
  border-inline-end-color: currentColor;
  border-inline-start-color: currentColor;
}

/* Стили для сброса фокуса на поле выбора города */
.search-form__textfield:focus {
  outline: none;
}

/* Стили для фокуса на поле выбора города */
.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px #fff solid ;
  outline-offset: 2px;
}

/* Стили для списка вариантов выбора времени суток */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* Стили для кастомной внутренней части флажка в чекбоксе выбора времени суток */ 
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  inline-size: 17px;
  block-size: 17px;
  background-color: white;
}

/* Стили для кастомной обводки флажка в чекбоксе выбора времени суток */
.search-form__pseudo-checkbox {
  padding-block: 1px;
  padding-inline: 1px;
  inline-size: 19px;
  block-size: 19px;
  outline: 1px solid rgba(255, 255, 255, 1)
}

/* Стиль для подчёркивания текста при состоянии наведённой мыши */
.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

/* Общие стили кнопок */
.button {
  font-family: "Fira Sans Condensed","Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border-block: 1px solid currentColor;
  border-inline: 1px solid currentColor;
  cursor: pointer;
}

/* Активное состояние кнопок на сайте */
.button:active {
  background-color: rgba(84, 80, 80, 1);
}

/* Кнопки на сайте при наведении на них мыши */
.button:hover {
  text-decoration: underline;
}

/* Сброс фокуса для кнопок */
.button:focus {
  outline: none;
}

/* Состояние фокуса для кнопок */
.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}


/* Индивидуальные стили для кнопки "Найти" */
.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
  block-size: 34px;
}

/* Индивидуальные стили для кнопки "Показать ещё" */
.more-button {
  inline-size: 100%;
  block-size: 34px;
  margin-block-start: 30px;
}

.content__details {
  block-size: 534px;
}

/* Стили для заголовока секции с списком видео и страницы в общем */
.title {
  font-family: "Oswald","Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  padding-block-end: 26px;
}

/* Стили для букв 'ПО-' в заголовке страницы */
.content__accent {
  color: rgba(84, 80, 80, 1);
}

/* Контейнер для списка с видео */
.content__list-container {
  position: relative;
  max-block-size: 298px;
  max-inline-size: 399px;
  overflow-y: auto;
}

/* Стили для списка видео */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Стили для Элемента списка видео */
.content__list-item {
  border-block: none;
  border-inline: none;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  padding-block-start: 3px;
}

/* Стили для ссылки поверх картчоки видео */
.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/* Активное состояние элемента списка видео */
.content__card-link:active {
  background-color: #545050;
}

/* Выбранный элемент списка видео */
.content__card-link_current {
  background-color: #545050;
}

/* Элемент списка видео в состоянии наведённой мыши */
.content__card-link:hover {
  text-decoration: underline;
}

/* Сброс фокуса для элемента списка видео */
.content__card-link:focus {
  border-block: none;
  border-inline: none;
}

/* Состояние фокуса для элемента списка видео */
.content__card-link:focus-visible {
  border-block: 1px solid rgba(255, 255, 255, 1);
  border-inline: 1px solid rgba(255, 255, 255, 1);
}

/* Карточка с видео */
.content__video-card {
  display: flex;
  justify-content: space-between;
}

/* Стили для картинки в карточке видео*/
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* Стили для контейнера с текстом в карточке видео */
.content__video-card-description-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

/* Заголовок карточки видео */
.content__video-card-title {
  font-family: "Oswald","Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Обычный текст в карточке видео */
.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}